.new-message-bar {
  height: 100%;
  width: 26%;
  background: transparent;

  display: flex;
  font: 400 1.1rem "Open Sans", sans-serif;
  flex-direction: column;
  border-radius: 0.1rem;

  &__header {
    // height: 11%;
    height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid rgba(63, 63, 86, 0.6);
    border-radius: 0.1rem;
    border: none;
  }
}

.message__form {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.message__input {
  width: 100%;
  height: 100%;
  padding: 1rem;

  &:hover {
    background: rgba(15, 15, 40, 0.35);
  }
  outline: none;
  border: none;
  // border: 1px solid yellow;

  background: transparent;

  text-align: inherit;
  text-decoration: none;

  font: 400 1.2rem Raleway;
  color: rgba(255, 255, 255, 0.7);

  transition: all 0.32s;
  resize: none;

  &:focus {
    color: rgba(25, 255, 255, 0.9);
  }

  &::placeholder {
    font-size: 1.25rem;
    color: #99a;
    text-align: center;
    user-select: none;
  }
}

.send-button {
  color: rgb(255, 255, 255);

  font: 500 2.5rem "Monoton";
  border-radius: none;
  width: 100%;
  height: 12%;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  user-select: none;

  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.1);

  border: none;
  background: none;
  outline: none;

  &:hover {
    color: rgb(210, 210, 0);
    cursor: pointer;
  }

  &:active {
    color: rgba(255, 255, 0, 0.9);
    text-shadow: 0 0 5px rgba(255, 255, 0, 1);
  }
}

.new-message-bar-user-info {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 16%;
  // padding: 1.2rem;

  // border: 1px solid red;
  color: rgba(5, 150, 250, 0.85);

  visibility: hidden;
}

@media (max-width: 960px) {
  .new-message-bar {
    width: 34%;

    background: rgba(39, 39, 62, 0.9);
    &__header {
      height: 9%;
      font-size: 1.1rem;
    }
  }

  .new-message-bar-user-info {
    visibility: visible;
  }
}

@media (max-width: 660px) {
  .new-message-bar {
    width: 51%;
    height: 20%;
    order: 3;
  }
}
