.sidebar {
  width: 20%;
  height: 100%;

  display: flex;
  flex-direction: column;

  font: 400 1.1rem "Open Sans", sans-serif;
  color: #ddd;

  border-right: 0.1rem solid rgba(63, 63, 86, 0.6);

  background: transparent;

  &__header {
    height: 11%;
    width: 100%;
    padding-left: 1.2rem;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid rgba(63, 63, 86, 0.6);
    border-radius: 0.1rem;
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 16%;
  padding: 1.2rem;

  // border: 1px solid red;

  &__wrapper {
    color: rgba(255, 255, 255, 0.6);
  }

  &__name {
    margin-top: 0.4rem;
    color: rgba(5, 150, 250, 0.85);
  }
}

.users-info {
  box-sizing: border-box;
  padding: 1.2rem;
  height: 73%;
  color: rgba(255, 255, 255, 0.6);

  // border: 1px solid yellow;

  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0.4rem;
    font-size: 1.02rem;
    color: #99a;
    line-height: 1.5rem;
  }
}

@media (max-width: 960px) {
  .sidebar {
    background: rgba(39, 39, 62, 0.9);
    width: 19%;

    font-size: 1.02rem;
    &__header {
      display: none;
    }
  }

  .user-info {
    display: none;
  }

  .my-icon {
    display: none;
  }

  .userElement {
    padding: 0.2rem 0;
  }

  .users-info {
    // text-align: center;
    padding: 0.8rem;

    &__list {
      font-size: 0.9rem;
    }
  }
}
